<div id="showresult" data-role="dialog">
    <div data-role="header" data-theme="d">
        <h3>恭喜你！中奖了</h3>
    </div>
    <div data-role="content" data-theme="c">
        <p style="font-weight: bold;">
            你中的是<span id="prizetype"></span>，兑奖SN码：<span id="sncode"></span>
        </p>
        <p>请留下您的手机号码，我们的工作人员会联系你发奖</p>
        <div class="form-inline">
            <label id="inputTip">您的手机号：</label> <input id="tel" name="tel" type="text" />
            <button id="save-btn" type="submit" data-theme="b">提交</button>
        </div>
    </div>
</div>
