<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css" media="screen" />
<title>没有权限</title>
<style>
	#content{
		margin: 0 auto;
	}
	#content img{
		float: left;
		margin-left: 100px;
	}
</style>
</head>
<body>
<div class="alert fade in" style="text-align:center">
	亲，微官网功能由VIP用户尊享。您如需使用，请联系客服或在充值套餐中购买VIP套餐。
</div>
<div id="content">
	<img src="../../image/admin/viponly/wsite1.jpg" />
	<img src="../../image/admin/viponly/wsite2.jpg" />
	<img src="../../image/admin/viponly/wxcode_wsite.png" />
</div>
</body>
</html>