<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="/resource/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/resource/css/admin/frame_v2.css?v=20130410" />
<script type="text/javascript" src="/resource/js/jquery-1.7.2.min.js"></script> 
<script type="text/javascript" src="/resource/bootstrap/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="/resource/js/plugin/jquery.tipsy.js"></script> 
<title>微信通平台</title>
</head>

<body>
	
出错：<%=err%>

</body>
</html>